<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="">
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Private API" />
    <meta name="theme-color" content="#82eb88">
    <meta name="keywords" content="Private API">
    <meta name="author" content="Mathew Sinadinos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- markdown %>
</body>

</html>